backfull = #B40404

body
	font-size 16px

.elementName
	color black
	font-size 1em
	font-weight bold
	margin-left 10px



#slides_control
	div
  		height 500px
img
	margin auto
	width 500px

#slides_control 
	border 10px solid black
	border-radius 5px
	left 30%
	position absolute
	top 120px
	width 500px


.containertwo
#desc
	border-radius 5px
	margin 0 auto
	width 50%

.containertwo
	background backfull	
	color white
	font-weight bold	
	margin-bottom 20px
	padding 5px	
	text-align center

	#desc
		background green
		width 50%
		
		
.myform
	width 33%
	margin 0 auto
	background  backfull
	padding 10px
	border-radius 10px

	h1
	label	
		color white
	
	h1
		text-align center


.centraInformacion
	margin 0 auto
	text-align center
	width 30%		
	th
		text-align center

.encapsula
	background white
	width 100%
	color backfull
	border-radius 5px
	overflow hidden
	label
		color backfull

	input[type="text"]
		margin-top: 5px;
		width: 80%;		

	input[type="radio"]
		margin-top: 5px;
		width: 25%;		